<section class="ml-6 p-12 md:p-8 lg:p-12 overflow-auto bg-gray-900 min-h-screen">
  <h2 class="mb-8 text-white text-center font-bold text-2xl">Detalhes da Proposta</h2>

  <div class="p-12 max-w-4xl mx-auto bg-indigo-900 rounded-xl p-6 backdrop-blur border-transparent bg-clip-padding">
    <div class="space-y-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="text-gray-300">Número da Proposta:</p>
          <p class="text-white font-semibold"><%= @proposta.numero %></p>
        </div>
        <div>
          <p class="text-gray-300">Status:</p>
          <p class="text-white font-semibold"><%= @proposta.status %></p>
        </div>
      </div>
      
      <%= link_to 'Voltar', admin_propostas_path, 
          class: "mt-6 inline-block px-4 py-2 bg-gradient-to-r from-purple-500 to-blue-500 text-white rounded-md hover:from-purple-600 hover:to-blue-600" %>
    </div>
  </div>
</section>
