<main class="container mx-auto py-8" data-controller="alert">
  <div class="grid grid-cols-3 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <% def plan_card(title, price, features, unavailable_features) %>
      <div class="bg-purple-900 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <h5 class="text-2xl font-semibold text-white mb-4"><%= title %></h5>
        <div class="flex items-baseline text-white mb-4">
          <span class="text-3xl font-semibold">R$</span>
          <span class="text-5xl font-extrabold tracking-tight"><%= price %></span>
          <span class="ms-1 text-xl font-normal text-gray-200">/mês</span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <% features.each do |feature| %>
            <li class="flex items-center">
              <svg class="shrink-0 w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="text-base font-normal leading-tight text-gray-200 mb-2 ms-3"><%= feature %></span>
            </li>
          <% end %>
          <% unavailable_features.each do |feature| %>
            <li class="flex line-through decoration-gray-400 mb-2">
              <svg class="shrink-0 w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="text-base font-normal leading-tight text-gray-400 ms-3"><%= feature %></span>
            </li>
          <% end %>
        </ul>
        <button type="button" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition-colors duration-300 inline-flex justify-center w-full text-center">Escolher plano</button>
      </div>
    <% end %>

    <div class="w-full lg:w-1/4 mb-4 p-4">
      <% plan_card("Básico Call Center", 249, ["5 operadores simultâneos", "Dashboard básico em tempo real", "Relatórios diários básicos"], ["Análise preditiva", "Integração com CRM", "BI avançado", "Suporte 24/7"]) %>
    </div>
    <div class="w-full lg:w-1/4 p-4">
      <% plan_card("Pro Call Center", 499, ["15 operadores simultâneos", "Analytics em tempo real", "Relatórios personalizados", "Integração com CRM"], ["Análise preditiva", "BI avançado", "Suporte 24/7"]) %>
    </div>
    <div class="w-full lg:w-1/4 p-4">
      <% plan_card("Enterprise Call Center", 999, ["Operadores ilimitados", "Analytics avançado", "BI completo", "Integração com CRM", "Análise preditiva"], ["Customização total", "Suporte dedicado"]) %>
    </div>
  </div>
</main>