<div id="<%= dom_id action_permission %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Action permission</h5>
      <p>
      <strong>Name:</strong>
        <%= action_permission.name %>
        </p>
    </div>
</div>