<div id="<%= dom_id permission %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Permission</h5>
      <p>
      <strong>Name:</strong>
        <%= permission.name %>
        </p>
    </div>
</div>