<div id="<%= dom_id create_perfil_permission %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Create perfil permission</h5>
      <p>
      <strong>Perfil:</strong>
        <%= create_perfil_permission.perfil_id %>
        </p>
      <p>
      <strong>Permission:</strong>
        <%= create_perfil_permission.permission_id %>
        </p>
    </div>
</div>