<div id="<%= dom_id perfil %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Perfil</h5>
      <p>
      <strong>Name:</strong>
        <%= perfil.name %>
        </p>
    </div>
</div>