<div id="<%= dom_id perfil_user %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Perfil user</h5>
      <p>
      <strong>User:</strong>
        <%= perfil_user.user_id %>
        </p>
      <p>
      <strong>Perfil:</strong>
        <%= perfil_user.perfil_id %>
        </p>
    </div>
</div>