@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('@fullcalendar/common/main.css');
@import url('@fullcalendar/daygrid/main.css');
@import url('@fullcalendar/timegrid/main.css');
@import url('themes.css');
@import url('chart_styles.css');

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}


.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
}

.invisible-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Customized scrollbar styles */
.mostly-customized-scrollbar {
  scrollbar-width: thin;     /* Firefox */
  scrollbar-color: #000 #aaa; /* Firefox */
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}
