@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-inactive\:hidden {
    @apply hidden;
  }

  nav.w-20 .sidebar-inactive\:hidden {
    @apply hidden;
  }

  nav:not(.w-64) .sidebar-inactive\:hidden {
    @apply hidden;
  }

  nav.w-64 .sidebar-inactive\:hidden {
    @apply inline;
  }

  .avatar-upload-button {
    @apply absolute bottom-0 right-0 bg-blue-700 text-white rounded-full p-2 cursor-pointer hover:bg-blue-800 transition-colors duration-200;
  }
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

.modal-open {
  overflow: hidden;
}

.modal-open .blur-background {
  filter: blur(5px);
  -webkit-filter: blur(5px); 
}