@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-inactive\:hidden {
    display: none;
  }

  nav.w-20 .sidebar-inactive\:hidden {
    display: none;
  }

  nav:not(.w-64) .sidebar-inactive\:hidden {
    display: none;
  }

  nav.w-64 .sidebar-inactive\:hidden {
    display: inline;
  }

  .avatar-upload-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 9999px;
    padding: 0.5rem;
    cursor: pointer;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    color: white;
    background-color: #1d4ed8;
  }
  
  .avatar-upload-button:hover {
    background-color: #1e40af;
  }

  .editing .editing\:block {
    display: block;
  }

  form:not(.editing) [data-profile-form-target="field"] {
    display: none;
  }

  form.editing [data-profile-form-target="display"] {
    display: none;
  }

  .btn {
    padding: 0.5rem 1rem; /* substituindo px-4 py-2 */
    font-size: 0.875rem; /* substituindo text-sm */
    font-weight: 500; /* substituindo font-medium */
    color: white;
    border-radius: 0.5rem; /* substituindo rounded-lg */
    transition: color 0.2s, background-color 0.2s; /* substituindo transition-colors duration-200 */
    outline: none;
  }

  .btn-primary {
    background-color: #1d4ed8;
  }
  
  .btn-primary:hover {
    background-color: #1e40af;
  }

  .btn-success {
    background-color: #16a34a;
  }
  
  .btn-success:hover {
    background-color: #15803d;
  }
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

.modal-open {
  overflow: hidden;
}

.modal-open .blur-background {
  filter: blur(5px);
  -webkit-filter: blur(5px); 
}