<div class="p-12 bg-purple-900 mt-6 mx-auto rounded-3xl w-96">
  <div class="mb-7">
    <h3 class="font-semibold tex-center text-2xl text-gray-100">Criar permissão ao perfil</h3>
  </div>

  <div class="space-y-6">
    <%= render "form", perfil_permission: @perfil_permission %>
    
    <div class="mt-7">
      <%= link_to perfil_permissions_path, 
      class: 'w-full flex justify-center items-center gap-2 bg-purple-800 hover:bg-purple-700 text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500' do %>
      <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
      </svg>
      Voltar
      <% end %>
    </div>
  </div>
</div>
